@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg: #f8f8f8;
}

* {
  margin: 0;
  box-sizing: content-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
}

.nav-bar {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  box-shadow: 0.5px 1px hsla(0deg, 0%, 0%, 0.1);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.nav-bar a {
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
  color: #9a3f3f;
}

.nav-bar a:hover {
  color: #748873;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  list-style: none;
}

.card img {
  height: 15rem;
  object-fit: cover;
}
